<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	id="com.evothings.cordovakontaktio"
	version="0.1.0">

	<name>Cordova Kontakt.io</name>
	<description>Cordova/PhoneGap plugin for Kontakt.io beacons.</description>
	<license>Apache 2.0</license>
	<keywords>Kontakt.io, iBeacon, beacons</keywords>

	<js-module src="src/js/CordovaKontaktio.js" name="CordovaKontaktio">
		<clobbers target="kontaktio" />
	</js-module>

	<platform name="ios">
		<framework src="CoreBluetooth.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="SystemConfiguration.framework" />

		<source-file src="src/ios/libkontakt-ios-sdk.a" framework="true" />

		<header-file src="src/ios/include/kontakt-ios-sdk/KontaktSDK.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKAction.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKActionManager.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBeacon.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBeaconDevice.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBeaconDeviceV2.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBeaconManager.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBeaconProfile.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBluetoothDevice.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKBluetoothManager.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKCharacteristicDescriptor.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKClient.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKCloudBeacon.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKCompany.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKDataTransferObject.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKDescriptor.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKDevice.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKError.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKFirmware.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKHexConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKLocationManager.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKManager.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKNumberConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKNumberDiscreteConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKNumberLinearConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPaging.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPagingBeacons.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPagingConfigs.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPagingDevices.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPagingVenues.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPublicAction.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPublicBeacon.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKPublicVenue.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKRegion.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKServiceDescriptor.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKStringConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKSubordinate.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKUser.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKUUIDConverter.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKVenue.h" />
		<header-file src="src/ios/include/kontakt-ios-sdk/KTKVenueBase.h" />

		<header-file src="src/ios/CordovaKontaktio.h" />
		<source-file src="src/ios/CordovaKontaktio.m" />

		<config-file target="config.xml" parent="/*">
			<feature name="CordovaKontaktio">
				<param name="ios-package" value="CordovaKontaktio" />
			</feature>
		</config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="LocationManager">
                <param name="ios-package" value="CDVLocationManager"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app would like to scan for Kontakt.io Beacons when in the background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app would like to scan for Kontakt.io Beacons while it is in use.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
        	<array>
            	<string>location</string>
    		</array>
        </config-file>
	</platform>

</plugin>
